
<div class="h1 text-success text-center">
  Thank you for confirming your account
</div>

<div class="text-center">
  Please wait while the ogres finish taking the cookies out of the oven...
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.pathname = '/'
  }, 5000)
</script>



